@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://i.ibb.co/Mc8R9D4/Vision.png" alt="Descrição da imagem" height="120">
    <h1 class="display-4">Bem-vindo a BlueSense!</h1>
    <p>Uma startup com a ideia de Sensorização de rotas náuticas visando a politica BlueHeart💙!</p>
</div>
